<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55754591865-ctas1lk0011uib9o003198qv0dasfe6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55754591865-ctas1lk0011uib9o003198qv0dasfe6q</string>
	<key>API_KEY</key>
	<string>AIzaSyDfwOt97cZgd2lOfHLqTarhu0m9gK5sYqg</string>
	<key>GCM_SENDER_ID</key>
	<string>55754591865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junhyeok.Pill-Information</string>
	<key>PROJECT_ID</key>
	<string>ios-pill-information-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-pill-information-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55754591865:ios:61fe914aeacefa45584ea8</string>
</dict>
</plist>